@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}
a {
  color: #e74c3c;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:hover {
  color: #e76c3c;
}
.row {
  padding: 80px 0px;
}

/* test.css for carousel*/
#carousel-example .carousel-content {
    color:black;
    display:flex;
    align-items:center;
    height: 50px;
}

#countdown .btn-common {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn {
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
  border-radius: 0;
}
.btn-common {
  background: #3d566e;
  color: #fff;
}
.btn-common:hover {
  background: #e74c3c;
  color: #fff;
}
/* for panel in model question */
#model .adjust{
  margin-left: -12px;
  margin-right: 0px;
}

#model .panel-footer{
  min-height: 60px;
}
#model .panel{
  min-height:100px;
  max-width: 200px; 
}
.panel-common {
  background: #34495E;
  margin: 5px;
  color: #fff;
  border-radius: 0px;
}
.panel-common:hover {
  background: #3d566e;
  color: #fff;
}
.panel-common a{
  color: #464F6C;
}
.panel-main{
  background-color: #3A648F;
}

.title {
  text-align: center;
  font-size: 50px;
}
.subtitle {
  text-align: center;
  font-weight: 100;
  padding-bottom: 30px;
  position: relative;
  color: #bdc3c7;
}
.navbar {
  margin-bottom: 0;
}
.navbar li {
  color: #d1d1d1;
}
.navbar-default {
  border: none;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.2);

}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: none;
  color: #fff;
}
.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:hover {
  color: #fff;
}
.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav li:hover {
  background: #e74c3c;
  padding-bottom: 5px;
  color: #fff;
}
.navbar-default .navbar-brand {
  font-size: 25px;
  color: #fff;
  font-weight: 100;
}
.navbar-default .navbar-brand:hover {
  color: #eee;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #333;
}
.affix.navbar-default {
  background: rgba(0, 0, 0, 0.8);
}

/* nav bar started */

.navbar-started {
  border: none;
  border-radius: 0;
  background: #34495E;
}

.navbar-started .navbar-nav > .active > a,
.navbar-started .navbar-nav > .active > a:hover,
.navbar-started .navbar-nav > .active > a:focus {
  background: none;
  color: #fff;
}
.navbar-started .navbar-nav li a,
.navbar-started .navbar-nav li a:hover {
  color: #fff;
}
.navbar-started .navbar-nav > .active,
.navbar-started .navbar-nav li:hover {
  background: #e74c3c;
  padding-bottom: 5px;
  color: #fff;
}
.navbar-started .navbar-brand {
  font-size: 25px;
  color: #fff;
  font-weight: 100;
}
.navbar-started .navbar-brand:hover {
  color: #eee;
}
.navbar-started .navbar-toggle .icon-bar {
  background: #fff;
}
.navbar-started .navbar-toggle:hover,
.navbar-started .navbar-toggle:focus {
  background: #333;
}

.navbar-started .nav > li > a:hover,
.navbar-started .nav > li > a:focus{
  text-decoration: none;
  background-color:rgba(238, 238, 238, 0.5); 
}

.affix.navbar-started {
  background: rgba(0, 0, 0, 0.8);
}

.menu-right{
  float: right!important;
  margin-right: -25px;

}
.dropdown-menu {
  background-color: #3d566e;
  border-radius: 0px;
}

.dropdown-menu >li >a:hover,
.dropdown-menu >li >a:focus
{
  text-decoration: none;
  background-color:#e74c3c; 
}

.phone{
  min-width: 375px;
  padding-top: 20px;
  float:right;
}

.btn-exam{
  margin-bottom: 5px;
  width:90%;
}

/* logIn */
.login-form{
  box-shadow: none;
  font-size: 17px;
  margin-bottom: 20px;
  padding-bottom:20px;
  border-radius: 0;
  border: none;

}

#model .row{
  padding-top: 50px;
  padding-bottom: 50px;
}

#model .angle-left{
  margin-left: -40px;
}
#model .angle-right{
  margin-right: -40px;
}
#model .btn-default{
  background: #3d566e;
  color:#fff;
}
#model .btn-default:hover {
  background: #4B7AA7;
  color: #fff;
}

#myCarousel > a.carousel-control.left{
    background-image: none;
}
#myCarousel > a.carousel-control.right{
    background-image: none;
}
#myCarousel .angle{
  margin-top: 150%;
}
#myCarousel .angle:hover{
  color: rgba(61, 86, 110, 100);
}

/* modal answer sheet */
.box{
  font-size: 26px;
  font-weight: lighter;
  padding: 5px;
  margin: 2px;
  text-align: center;
  border: 2px solid #3d566e;
  border-radius: 5px;
}
#myModel .model-body{
  padding-top: 0px;
}
.answer-sheet{
  padding-left: 50px;
}
.box-magic-blue{
  background-color: #429AE6;
}
.box-magic-red{
  background-color: #E74C3C;
}
.box-magic-green{
  background-color: #5cb85c;
}
#submodel > div.row > div.col-md-3 > div{
  margin-left: 5px;
}



#hero-area {
  background: #34495e;
  color: #fff;
}
#hero-area .btn {
  margin-right: 20px;
}
#hero-area img {
  max-width: 100%;
}
#hero-area p {
  padding: 50px 0;
}
#hero-area .form-control{
  border-radius: 0px;
}

#services h3 {
  margin-top: 0;
  font-size: 28px;
  color: #e74c3c;
}
/*Portfolio*/
#portfolio {
   background: #f1f1f1;
}
/*Portfolio Overlay */
.portfolio-item {
  position: relative;
  margin-bottom: 15px;
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.portfolio-item:hover .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
}
.portfolio-item .icons .preview {
  position: absolute;
  left: 40%;
  top: 40%;
  color: #fff;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.portfolio-item .icons .preview i {
  color: #e74c3c;
}
#clients {
  background: #fff;
}
#clients .btn-success{
  border-radius: 20px;
}
#about {
  background: #34495e;
  color: #fff;
}
#about p {
  line-height: 30px;
  font-size: 17px;
}
#contact {
  background: #f1f1f1;
}
#contact ::-webkit-input-placeholder {
  color: #ecf0f1;
}
#contact :-moz-placeholder {
  color: #ecf0f1;
}
#contact ::-moz-placeholder {
  color: #ecf0f1;
}
#contact :-ms-input-placeholder {
  color: #ecf0f1;
}
#contact .social i {
  color: #fff;
  padding: 10px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  background: #34495e;
}
#contact .social .social-links a:hover {
  color: #fff;
}
#contact .social .fa-facebook:hover {
  background: #3b5998;
  color: #fff;
}
#contact .social .fa-twitter:hover {
  background: #00CAFB;
  color: #fff;
}
#contact .social .fa-google-plus:hover {
  background: #D23A1D;
  color: #fff;
}
#contact .social .fa-linkedin:hover {
  background: #007bb6;
  color: #fff;
}
#contact .social .fa-dribbble:hover {
  background: #ea4c89;
  color: #fff;
}
#contact .social .fa-github:hover {
  background: #171515;
  color: #fff;
}
#contact .contact-info {
  margin: 40px 0;
}
#contact .contact-info p {
  font-size: 20px;
}
#contact .contact-form .form-control {
  box-shadow: none;
  font-size: 17px;
  margin-bottom: 20px;
  border-radius: 0;
  border: none;
}

/*Scroll Top*/
.to-top i {
  padding: 10px 15px;
  margin: 10px;
  background: transparent;
  color: #34495e;
  border: 2px solid #34495e;
}
.to-top i:hover {
  background: #34495e;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#copyright {
  background: #F1F1F1;
  color: #333;
}
#copyright a {
  color: #333;
}
