{% extends "prepare/base_min.html" %}

{% block nav_menu %}
{% endblock %}

{% block main_content %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="background:#ccc;border-radius:5px;">
    <h1> Welcome to Admin Panel <br>
        <small>What would you like to do?</small></h1>
        <a href="{% url 'upload' %}">Upload</a><br>
        <a href="{% url 'delete' %}">Delete</a>
        <a href="#"></a>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock %}
