{% load staticfiles %}
<!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BE Entrance Prepration, Study Materials, Practice Sets Online</title>


        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css' %}">
        <!-- Main Style -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        <!-- Responsive Style -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">

        <!--Icon Fonts-->
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/font-awesome.min.css' %}">

        <!-- link Charts-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/chart.css' %}">

        <!-- Extras -->
        <link rel="stylesheet" type="text/css" href="{% static 'extras/animate.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'extras/lightbox.css' %}">

        <!-- jQuery Load -->
        <script src="{% static 'js/jquery-min.js' %}"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
</head>

<body data-spy="scroll" data-offset="20" data-target="#navbar">

    <!-- Nav Menu Section -->
    <div class="logo-menu">
    <nav class="navbar navbar-started navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="50">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header col-md-3">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}"><i class="fa fa-book"></i> HamroAnswer</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="nav navbar-nav col-md-9 pull-right">
                            {% block nav_menu %}
                            {% endblock %}
                            </ul>
        </div>
      </div>
    </nav>
    </div>
<!-- Nav Menu Section End -->

   {% block main_content %}
   {% endblock %}

{% block contact %}
{% endblock %}

<!-- Bootstrap JS -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

            <!-- Smooth Scroll -->
                    <!-- Smooth Scroll -->
        <script src="{% static 'js/smooth-scroll.js' %}"></script>
        <script src="{% static 'js/lightbox.min.js' %}"></script>

        <!-- charts load-->
        <script src="{% static 'js/chart.js' %}"></script>

        <!-- All JS plugin Triggers -->
        <script src="{% static 'js/main.js' %}"></script>

    {% block scripts %}
    {% endblock %}

   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    </body>
    </html>
