{% load staticfiles %}
<!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BE Entrance Prepration, Study Materials, Practice Sets Online</title>


        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css' %}">
        <!-- Main Style -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        <!-- Responsive Style -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">

        <!--Icon Fonts-->
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/font-awesome.min.css' %}">

        <!-- link Charts-->

        <!-- jQuery Load -->
        <script src="{% static 'js/jquery-min.js' %}"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
</head>

<body data-spy="scroll" data-offset="20" data-target="#navbar">

    <!-- Nav Menu Section -->
    <div class="logo-menu">
    <nav class="navbar navbar-started navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="50">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header col-md-3">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}"><i class="fa fa-book"></i> HamroAnswer</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="nav navbar-nav col-md-9 pull-right">
                            {% block nav_menu %}
                            {% endblock %}
                            </ul>
        </div>
      </div>
    </nav>
    </div>
<!-- Nav Menu Section End -->

   {% block main_content %}
   {% endblock %}
<section id="contact">
    <div class="container text-center">
    <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-md-6 wow fadeInRight">
    <div class="social-links">
    <a class="social" href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
    <a class="social" href="#" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
    <a class="social" href="#" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
	</div>
<div class="contact-info">
    <p><i class="fa fa-map-marker"></i> Pulchowk, Lalitpur, Nepal</p>
     <p><i class="fa fa-envelope"></i> hamroanswer@gmail.com</p>
</div>

    <p>
       We are eager to hear from you. We’ll help student of all shapes and sizes learn faster and work smarter.  
    </p>
    
    </div>
    <div class="col-lg-3"></div>
    </div>
    </div>
    </section>

<!-- Conatct Section End-->

    <div id="copyright">
    <div class="container">
    <div class="col-md-10"><p>© 2015 All right reserved. Developed by XXX</p></div>
    <div class="col-md-2">
        <span class="to-top pull-right"><a href="#"><i class="fa fa-angle-up fa-2x"></i></a></span>
        </div>
    </div>
    </div>
<!-- Copyright Section End-->

<!-- Bootstrap JS -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <!-- All JS plugin Triggers -->
        <script src="{% static 'js/main.js' %}"></script>

    {% block scripts %}
    {% endblock %}


    </body>
    </html>
