{% extends "prepare/base_min.html" %}

{% block main_content %}
<section>
<div class="row" style="margin:30px">
    <div class="col-md-3"></div>
    <div class="col-md-6"></div>
         <form method="post" action="{% url 'upload' %}">
         <h2> Select the set you want to delete:</h2>
         <select name="setname">
         {% for set in sets %}
         <option value="{{set.name}}">{{set.set_id}}</option>
         {% endfor %}
         </select>
         {% csrf_token %}
         <br>
         <input type="submit" value="Delete"/>
         </form>

         <br>
         Or you might want to upload some questions/sets.
         <a href="{% url 'upload' %}"> Upload questions </a>
    </div>
    <div class="col-md-3"></div>
</div>
</section>

{% endblock %}
