{% extends "prepare/base.html" %}
{% load staticfiles %}
                            {% block nav_menu %}
                            <li class="active"><a href="#hero-area"><i class="fa fa-home"></i> Home</a></li>
                            <li><a href="#services"><i class="fa fa-cogs"></i> Features</a></li>
                            <li><a href="#portfolio"><i class="fa fa-info-circle"></i> BE Entrance Info</a></li>
                            <li><a href="#clients"><i class="fa fa-list"></i> Sample Questions</a></li>
                            <li><a href="#about"><i class="fa fa-info"></i> About Us</a></li>
                            <li><a href="#contact"><i class="fa fa-envelope"></i> Contact</a></li>
                            {% endblock %}


{% block main_content %}
<!-- Hero Area Section -->

<section id="hero-area">
<div class="container">     
    <div class="row">
<div class="col-md-12">
        <h1 class="title">Prepare for competitive exams online</h1>
        <h2 class="subtitle">BE Entrance Preparation</h2>

        <div class="col-md-6 col-sm-6 col-xs-12 animated fadeInLeft" >
            <img class=" img-circle" src="{% static 'img/hero/hero2.png' %}" alt="">
        </div>
        

        <div class="col-md-6 col-sm-6 col-xs-12 animated fadeInRight delay-0-5">
            <form action="{% url 'login' %}" role="form" class="contact-form" method="post">
            {% csrf_token %}
             <div class="col-md-10 wow fadeInLeft" data-wow-delay=".5s">
             <div class="form-group">
             <div class="controls">
               <input type="text" class="form-control" placeholder="UserName" name="username">
             </div>
             </div>
            <div class="form-group">
            <div class="controls">
             <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            </div>
            <div class="form-group">
            <input type="submit" value="LOG IN" class="btn btn-primary btn-lg"/>
             </div>
            </form>
            <div class="form-group">
                <h4>New to HamroAnswer ?</h4>
                <a href="{% url 'register' %}" class="btn btn-common btn-lg">Get Started Now</a>
            </div>

</div>

    </div>
</div>
</section>

<!-- Hero Area Section End-->



<!-- Service Section -->

<section id="services">
<div class="container text-center">
<div class="row">
<h1 class="title">Smart Way to Prepare</h1>
<h2 class="subtitle">Learning can be fun <i class="fa fa-smile-o"></i></h2>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div class="service-item">
    <img src="{% static 'img/services/onlineExm.jpg' %}" alt="">
    <h3>Online Tests</h3>
    <p>Computer based IOE style tests to simulate the entarance examination. You can practice model question weekly.</p>    </div>
    </div>


    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div class="service-item">
    <img src="{% static 'img/services/bs3.png' %}" alt="">
    <h3>Study Materials</h3>
    <p>We provide plenty of study materials. Subject and chapter wise materials and tricks.</p>
    </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div class="service-item">
    <img src="{% static 'img/services/quest.jpg' %}" alt="">
    <h3>Questions with solution</h3>
    <p>Lots of Question with relevant solution are provide for every subject.</p>
    </div>
    </div>

</div>
</div>
 </section>
<!-- Service Section End -->



<!-- Portfolio Section -->

    <section id="portfolio">
    <div class="container text-center">
    <div class="row">
    <h1 class="title">IOE Entrance Info</h1>

    <div class="col-md-6">
        <h4>Subject wise marks distibution</h4>
        <div id="donut-example" style="height: 250px;"></div>
        <p>Total marks: 120</p>
    </div>
    <div class="col-md-6">
        <h4>Number of multiple choice questions per subject</h4>
        <div id="bar-example" style="height: 250px;"></div>
    </div>
      
    </div>
    </div>
    </section>
<!-- Portfolio Section End -->


<!-- Client Section -->
    <section id="clients">
    <div class="container text-center">
    <div class="row">

    <h1 class="title">Sample Questions</h1>
    <h2 class="subtitle">Try some Questions</h2>
    <div class="col-md-3"></div>
    <div class="wow fadeInDown col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="panel-title">
                    <h4>Sample Questions <i class="fa fa-list"></i></h4> 
                </div>
                <a href="#" class="btn btn-success col-xs-2">Set I</a>
                <div class="col-xs-3"></div>
                <a href="#" class="btn btn-success col-xs-2">Set II</a>
                <div class="col-xs-3"></div>
                <a href="#" class="btn btn-success col-xs-2">Set III</a>
            </div>
        </div>


    </div>
    </div>
    </div>
    </section>
<!-- Client Section End -->



<!-- About Section -->

    <section id="about">
    <div class="container">
    <div class="row">
    <h1 class="title">About us</h1>
    <h2 class="subtitle"> Our efforts for Your Success</h2>

    <div class="col-md-8 col-sm-12">
    <p>
    A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
    </p>
    </div>

    <img class="col-md-4 col-md-4 col-sm-12 col-xs-12" src="{% static 'img/about/sucess.jpg' %}" alt="">

    </div>
    </div>
    </section>
<!-- About Section End -->

{% endblock %}

{% block contact %}
<!-- Contact Section -->
    <section id="contact">
    <div class="container text-center">
    <div class="row">
    <h1 class="title">Contact us</h1>

    <h2 class="subtitle"></h2>


    <form role="form" class="contact-form" method="post">
    <div class="col-md-6 wow fadeInLeft" data-wow-delay=".5s">
    <div class="form-group">
    <div class="controls">
    <input type="text" class="form-control" placeholder="Name" name="name">
    </div>
    </div>
    <div class="form-group">
    <div class="controls">
    <input type="email" class="form-control email" placeholder="Email" name="email">
    </div>
    </div>
    <div class="form-group">
    <div class="controls">
    <input type="text" class="form-control requiredField" placeholder="Subject" name="subject">
    </div>
    </div>

    <div class="form-group">

    <div class="controls">
    <textarea rows="7" class="form-control" placeholder="Message" name="message"></textarea>
    </div>
    </div>
    <button type="submit" id="submit" class="btn btn-lg btn-common pull-right">Send</button><div id="success" style="color:#34495e;"></div>

    </div>
    </form>

    <div class="col-md-6 wow fadeInRight">
    <div class="social-links">
    <a class="social" href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
    <a class="social" href="#" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
    <a class="social" href="#" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
	</div>
<div class="contact-info">
    <p><i class="fa fa-map-marker"></i> Pulchowk, Lalitpur, Nepal</p>
     <p><i class="fa fa-envelope"></i> hamroanswer@gmail.com</p>
</div>

    <p>
       We are eager to hear from you. We’ll help student of all shapes and sizes learn faster and work smarter.  
    </p>
    
    </div>

    </div>
    </div>
    </section>

<!-- Conatct Section End-->

    <div id="copyright">
    <div class="container">
    <div class="col-md-10"><p>© 2015 All right reserved. Developed by XXX</p></div>
    <div class="col-md-2">
        <span class="to-top pull-right"><a href="#hero-area"><i class="fa fa-angle-up fa-2x"></i></a></span>
        </div>
    </div>
    </div>
<!-- Copyright Section End-->

{% endblock %}

{% block scripts %}
{% endblock %}
