{% extends 'prepare/base.html' %}

{% block main %}
 <div>
 <h1>Third-party authentication demo</h1>

 <p>
   <ul>
     <li>
      {# <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>#}
       <a href="{% url 'socialauth_begin' 'google-oauth2' %}">Login with Google</a>
       <a href="{% url 'socialauth_begin' 'facebook' %}">Login with facebook</a>
     </li>
   </ul>
 </p>

 <form method="post" action="{% url 'login' %}">
 {% csrf_token %}
 username<input type="text" name="username"><br>
 password<input type="password" name="password"><br>
 <input type="submit" value="login">
 </form>
 </div>
{% endblock %}
