{% extends "prepare/base.html" %}
{% load staticfiles %}

{% block nav_menu %}
    <li><a href="#contact"><i class="fa fa-envelope"></i> Contact</a></li>
{% endblock %}


{% block main_content %}
<div class="text-center" style="background:#345;height:500px;padding:200px; color:white">
{{ message|safe}}
</div>
{% endblock %}

