{% extends "prepare/base_min.html" %}
{% load staticfiles %}

    {% block nav_menu %}
        <li class="active"><a href="#"><i class="fa fa-fa fa-check-square-o"></i> practice model questions</a></li>
        <li><a href="#"><i class="fa fa-bar-chart-o"></i> your progess</a></li>
        <li class="dropdown menu-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>{{username}}</strong><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">profile <i class="fa fa-fa fa-user"></i></a></li>
                                <li><a href="#">settings <i class="fa fa-fa fa-cog"></i></a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'logout' %}">log out <i class="fa fa-fa fa-power-off"></i></a></li>
                            </li>

    {% endblock %}
    

{% block main_content %}

<section id="submodel" class="text-center">

<!--model - answersheet -->
          <div class="modal fade" id="firstModal">
            <div class="modal-dialog">
              <div class="modal-content">
                    <div class="modal-header">
                      <button class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Start parctice sesson</h4>
                    </div>
                <div class="modal-body">
                  <h4>You will be provided with the questions.<br>
                  You need to finish all the question in given time.</h4>
                </div><!--modal body-->
                    <div class="modal-footer">
                      <button class="btn btn-success"data-dismiss="modal"type="button" onclick="start_timer(Math.floor({{time}}*60))">Start</button>  
                    </div>
              </div>
            </div><!--end modal-content-->
          </div><!--end myModal-->


<div class="row">
<div class="col-md-1"></div>
<div class="jumbotron col-lg-7 col-md-7">
<div class="">
    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
       <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <br><br>
            <h2 id="submit-message" style="display:none">
               To see how you've done <br>
                <small> Click on 'ANSWER SHEET' button on the right</small>
            </h2>
            {% for question in questions %}
            <div class="{% ifequal forloop.counter 1 %}active {% endifequal %} item">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 animated fadeInLeft delay-0-1">
                        <p class="slab">
                            {{forloop.counter}}.&nbsp;&nbsp; {{question.text}}
                            {% if question.question_image %}
                            <img class="image-small" src="{{MEDIA_URL}}images/{{question.question_image}}"/>
                            {% endif %}
                        </p>
                        <div  class="btn-group row">
                            <div class="col-md-6 col-xs-6">
                                <label class="radio-inline pull-left">
                                <input type="radio" name="{{question.id}}" value="1" onclick="update_answer({{forloop.counter0}}, this.value);">{{question.option1}}
                            {% if question.option1_image %}
                            <img class="image-small" src="{{MEDIA_URL}}images/{{question.option1_image}}"/>
                            {% endif %}
                                </label>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label class="radio-inline pull-left">
                                <input type="radio" name="{{question.id}}" value="2" onclick="update_answer({{forloop.counter0}}, this.value);">{{question.option2}}
                            {% if question.option2_image %}
                            <img class="image-small" src="{{MEDIA_URL}}images/{{question.option2_image}}"/>
                            {% endif %}
                                </label>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label class="radio-inline pull-left">
                                <input type="radio" name="{{question.id}}" value="3" onclick="update_answer({{forloop.counter0}}, this.value);">{{question.option3}}
                            {% if question.option3_image %}
                            <img class="image-small" src="{{MEDIA_URL}}images/{{question.option3_image}}"/>
                            {% endif %}
                                </label>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label class="radio-inline pull-left">
                                <input type="radio" name="{{question.id}}" value="4" onclick="update_answer({{forloop.counter0}}, this.value);">{{question.option4}}
                                    {% if question.option4_image %}
                                    <img class="image-small" src="{{MEDIA_URL}}images/{{question.option4_image}}"/>
                                    {% endif %}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    </div>
            </div>
            {% endfor %}
            {% csrf_token %}
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
</div>
        <div class="col-md-3">
            <div class="jumbotron row text-center">
                <div class="col-md-12">
                        <h3>Time Remaining:</h3>
                        <div id="countdown" class="btn btn-exam" style="margin-bottom:5px;font-size:1.5em;"></div><!-- /#Countdown Div -->
                </div>
                <div class="col-md-12">
                    <a id="show-answer-sheet" class="btn btn-info btn-exam" href="#" onclick="alert('Submit answers first!');" data-toggle="modal">Answer Sheet</a>
                </div>
                <div class="col-md-12">
                    <a id="remaining-questions" class="btn btn-primary btn-exam" href="#myModal1" data-toggle="modal">Remaining Questions:</a>
                </div>
                <div class="col-md-12">
                    <a id="submit-answers" class="btn btn-warning btn-exam" href="#" onclick="submit_answers()">submit</a>
                </div>

            </div>
        </div>
        <div class="col-md-1"></div>
        </div>
        </div>
        <!--model - answersheet -->
          <div class="modal fade" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
                    <div class="modal-header">
                      <button class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Answer Sheet</h4>
                    </div>
                <div class="modal-body">
                  <h4>
                  <span class="box-magic-green" style="border-radius:3px;margin:5px;">&nbsp;Correct </span>
                  <span class="box-magic-red" style="border-radius:3px;margin:5px;">&nbsp;Incorrect </span>
                  <span class="btn-info" style="border-radius:3px;magrin:5px;">&nbsp;Unattempted &nbsp;</span>
                  </h4>
                    <div class="row">
                        <div id="answer-sheet" class="answer-sheet">
                              <!--
                              <div class="col-md-2 box box-magic col-sm-1">12. d</div>
                              <div class="col-md-2 box box-magic col-sm-1">11. a</div>
                              -->
                            </div>
                    </div>
                </div><!--modal body-->
                    <div class="modal-footer">
                      <button class="btn btn-common"data-dismiss="modal"type="button">Close</button>  
                    </div>
              </div>
            </div><!--end modal-content-->
          </div><!--end myModal-->

        <!--model - answersheet attempted and not attempted -->
          <div class="modal fade" id="myModal1">
            <div class="modal-dialog">
              <div class="modal-content">
                    <div class="modal-header">
                      <button class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Your attempt Details</h4>
                    </div>
                <div class="modal-body">
                  <h4>
                  <span class="btn-info" style="border-radius:3px;magrin:5px;">&nbsp;Attempted &nbsp;</span>
                  </h4>
                    <div class="row">
                        <div id="attempt-details" class="answer-sheet">
                              <!--
                              <div class="col-md-2 box box-magic col-sm-1">12. d</div>
                              <div class="col-md-2 box box-magic col-sm-1">11. a</div>
                              -->
                            </div>
                    </div>
                </div><!--modal body-->
                    <div class="modal-footer">
                      <button class="btn btn-common"data-dismiss="modal"type="button">Close</button>  
                    </div>
              </div>
            </div><!--end modal-content-->
          </div><!--end myModal1-->
</section>
{% endblock %}

{% block scripts %}
        
        <script type="text/javascript">
        
        $(document).ready(function(){
            $("#myCarousel").carousel({
                interval : false
            });
            update_remaining_questions();
            });
            var g_submitted = false;
            var g_correct_answers = JSON.parse('{{answers}}');
            var g_total_questions = g_correct_answers.length;
            var g_answers = new Array(g_total_questions); 
            var g_questions_completed = 0;
            // has the answers submitted by the student

            // initialize the answers array with 0 values
            //  which mean, no answers have been selected for them
            for(var i=0;i<g_correct_answers.length;i++)
                g_answers[i]=0;

            // get csrf token
                var a = document.getElementsByTagName("input");
                var g_csrf;
                for(x in a)
                {
                    if (a[x].getAttribute("type")=="hidden")
                    {
                        g_csrf = a[x].value;
                        break;
                    }
                }

        </script>
        <script type="text/javascript">
            $(window).load(function(){
                $('#firstModal').modal('show');

                prepare_attempted_details();
                
            });

            function post_result()
            {
                $.post("{{url}}",
                    {
                        total_questions:g_total_questions,
                        correct_answers:4,
                        csrfmiddlewaretoken:g_csrf
                    },
                    function(data, status) {
                        alert(data);
                    }
                );
            }
        </script>

        {# script for the questoin answers #}
        <script src="{% static 'js/practice.js'%}"></script>

        <script src="{% static 'js/timer.js'%}"></script>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
        </script>
        <script type="text/javascript"
                    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>

        <style>
            .image-small
            {
                height:50%;
                width:50%;
            }
        </style>

{% endblock %}
