{% extends "prepare/base_min.html" %}
{% load staticfiles %}

{% block nav_menu %}
    <li><a href="#hero-area"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="#contact"><i class="fa fa-envelope"></i> Contact</a></li>
{% endblock %}

{% block main_content %}
<section id="hero-area">
<div class="container">     
    <div class="row">
    <div class="col-md-12">
        <h1 class="title">Register Here</h1>
        <div class="col-md-6 col-sm-6 col-xs-12 animated fadeInLeft" >
            <img class=" img-responsive phone" src="{% static 'img/iphonelayer.png' %}" alt="">
        </div>

            <div class="col-md-6 col-sm-6 col-xs-12 animated fadeInRight delay-0-5">
             <div class="col-md-10 wow fadeInLeft" data-wow-delay=".5s">
        <form action="{% url 'register' %}" role="form" class="contact-form row" method="post">
            <div class="text-warning">
                {{ form.non_field_errors.as_text }}
            </div>
            {% csrf_token %}
            {% for field in form%}
             <div class="form-group col-md-{% if field.auto_id == "id_first_name" or field.auto_id == "id_last_name" %}6{% else %}12{% endif %}">
             <div class="controls">
                <span class="text-warning">{{field.errors.as_text}}</span>
                {{field}}
             </div>
             </div>
             {% endfor %}

        {% csrf_token %}
            <div class="form-group col-md-10 col-md-offset-2">
             <div class="controls">
               <label class="checkbox pull-left">
                    <input type="checkbox" value="agree">
                    I agree <a href="#">terms and conditions</a>.
                </label>
             </div>
             </div>
            <div class="form-group col-md-12">
            <div class="controls">
                    <button href="started.html" class="btn btn-primary btn-lg" type="submit">Register</a>
                </div>
             </div>
            </div>
            <div class="form-group col-md-12">
                <div class="alert alert-success">
                    <strong><span class="glyphicon glyphicon-ok"></span> Success! Message sent.</strong>
                </div>
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-remove"></span><strong> Error! Please check all page inputs.</strong>
                </div>
            </div>
        </form>

    </div>
    </div>
</div>
</section>
{% endblock %}
