{% extends "prepare/base.html" %}
{% load staticfiles %}

{% block nav_menu %}

                            <li class="active"><a href="#"><i class="fa fa-fa fa-check-square-o"></i> Practice Model Questions</a></li>
        <li><a href="#"><i class="fa fa-bar-chart-o"></i> Your Progess</a></li>
        <li class="dropdown menu-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><STRONG>{{username}}</STRONG><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Profile <i class="fa fa-fa fa-user"></i></a></li>
                                <li><a href="#">Settings <i class="fa fa-fa fa-cog"></i></a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'logout' %}">Log out <i class="fa fa-fa fa-power-off"></i></a></li>
                            </li>

{% endblock %}


{% block main_content %}
<section id="hero-area">
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <h2 class="text-center">
        {% if chapter_list %}
        Select which chapter you want to parctice on
        {% else %}
        New Unpracticed sets
        {% endif %}
        </h2>
        <ul class="list-group">
        {% if chapter_list %}
        {% for chapter in chapters %}
            <li class="list-group-item"><a href="{% url 'practice_chapter' subject.slug chapter.slug %}">{{chapter.slug}}</a></li>
        {% endfor %}

        {% else %}
        {% for set in unpracticed_sets %} 
            <li class="list-group-item"><a href="{% url 'practice_set' set.id %}">{{set}}</a></li>
        {% endfor %}
        {% endif %}
        </ul>

        {% if not chapter_list %} {# means sets list #}
        <h2 class="text-center">
        Already practiced sets
        </h2>
        <ul class="list-group">
        {% for set in practiced_sets %}
            <li class="list-group-item"><a href="{% url 'practice_set' set.id %}">{{set}}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
    </div>
</div>
</section>
{% endblock %}

{% block contact %}
<section id="contact">
    <div class="container text-center">
    <div class="row">

    <div class="col-lg-3"></div>
    <div class="col-md-6 wow fadeInRight">
    <div class="social-links">
    <a class="social" href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
    <a class="social" href="#" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
    <a class="social" href="#" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
    </div>
<div class="contact-info">
    <p><i class="fa fa-map-marker"></i> Pulchowk, Lalitpur, Nepal</p>
     <p><i class="fa fa-envelope"></i> hamroanswer@gmail.com</p>
     <p><i class="fa fa-phone"></i> 9860802349</p>
</div>

    <p>
       We are eager to hear from you. We’ll help organisations of all shapes and sizes grow faster and work smarter. 
    </p>
    
    </div>

    </div>
    </div>
    </section>

<!-- Conatct Section End-->


    <div id="copyright">
    <div class="container">
    <div class="col-md-10"><p>© 2015 All right reserved. Developed by Pluto</p></div>
    <div class="col-md-2">
        <span class="to-top pull-right"><a href="#model"><i class="fa fa-angle-up fa-2x"></i></a></span>
        </div>
    </div>
    </div>
<!-- Copyright Section End-->
{% endblock %}
