{% extends "prepare/base_min.html" %}
{% load staticfiles %}

    {% block nav_menu %}
        <li class="active"><a href="#"><i class="fa fa-fa fa-check-square-o"></i> practice model questions</a></li>
        <li><a href="#"><i class="fa fa-bar-chart-o"></i> your progess</a></li>
        <li class="dropdown menu-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>{{username}}</strong><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">profile <i class="fa fa-fa fa-user"></i></a></li>
                                <li><a href="#">settings <i class="fa fa-fa fa-cog"></i></a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'logout' %}">log out <i class="fa fa-fa fa-power-off"></i></a></li>
                            </li>

    {% endblock %}
    

{% block main_content %}

<section id="model">
<div class="container wow text-center">
    <div class="row" style="padding-bottom:0px;">

    <h1 class="subtitle">Learning can be fun <i class="fa fa-smile-o"></i></h1>
    <h2>Practice Model Question sets</h2>
                <a href="{% url 'set_list' %}">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-common panel-main">
                            <div class="panel-heading">
                                <div class="row">
                                        <i class="fa fa-check fa-3x"></i>
                                        <i class="fa fa-list fa-5x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
    </div> <!-- end  1s row-->

    <div class="row">
    <h2>Practice Subject wise Questions</h2>
        <div class="col-lg-2"></div>
        <div class="col-lg-10">
            {% for subject in subjects %}
            <a href="{% url 'chapters_list' subject.slug %}">
            <div class="col-lg-2 col-md-6" style="padding-right: 0px;">
                <div class="panel panel-common">
                    <div class="panel-heading row-panel">
                        <div class="row">
                            <div class="col-xs-12">
                                <i class="fa {{subject.slug}} fa-5x"></i>
                            </div>
                        </div>
                    </div>
                        <div class="panel-footer">
                            <span class="pull-left" style="color:#247">{{subject.name}}</span>
                            {#<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>#}
                            <div class="clearfix"></div>
                        </div>
                </div>
            </div>
            </a>
            {% endfor %}
            </div> <!-- end main col in row-->
            <div class="col-lg-3"></div>
        </div>
        <!-- /.row -->


</div>
</section>
{% endblock %}

{% block contact %}
<section id="contact">
    <div class="container text-center">
    <div class="row">

    <div class="col-lg-3"></div>
    <div class="col-md-6 wow fadeInRight">
    <div class="social-links">
    <a class="social" href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
    <a class="social" href="#" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
    <a class="social" href="#" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
    </div>
<div class="contact-info">
    <p><i class="fa fa-map-marker"></i> Pulchowk, Lalitpur, Nepal</p>
     <p><i class="fa fa-envelope"></i> hamroanswer@gmail.com</p>
     <p><i class="fa fa-phone"></i> 9860802349</p>
</div>

    <p>
       We are eager to hear from you. We’ll help organisations of all shapes and sizes grow faster and work smarter. 
    </p>
    
    </div>

    </div>
    </div>
    </section>

<!-- Conatct Section End-->


    <div id="copyright">
    <div class="container">
    <div class="col-md-10"><p>© 2015 All right reserved. Developed by Pluto</p></div>
    <div class="col-md-2">
        <span class="to-top pull-right"><a href="#model"><i class="fa fa-angle-up fa-2x"></i></a></span>
        </div>
    </div>
    </div>
<!-- Copyright Section End-->
{% endblock %}

