          <a class="navbar-brand" href="#home"><i class="fa fa-book"></i> HamroAnswer</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="nav navbar-nav col-md-9 pull-right">
                            {% block nav_menu %}
                            <li><a href="#hero-area"><i class="fa fa-home"></i> Home</a></li>
                            <li><a href="#contact"><i class="fa fa-envelope"></i> Contact</a></li>
                            {% endblock %}
                            </ul>
        </div>
      </div>
    </nav>
    </div>
<!-- Nav Menu Section End -->


<section id="hero-area">
<div class="container">     
    <div class="row">
    <div class="col-md-12">
        <h1 class="title">Register Here</h1>
        <div class="col-md-6 col-sm-6 col-xs-12 animated fadeInLeft" >
            <img class=" img-responsive phone" src="assets/img/iphonelayer.png" alt="">
        </div>
        

        <div class="col-md-6 col-sm-6 col-xs-12 animated fadeInRight delay-0-5">
             <div class="col-md-10 wow fadeInLeft" data-wow-delay=".5s">
        <form role="form" class="contact-form row" method="post">
             <div class="form-group col-md-6">
             <div class="controls">
               <input type="text" class="form-control" placeholder="First Name" name="name">
             </div>
             </div>
             <div class="form-group col-md-6">
            <div class="controls">
               <input type="text" class="form-control" placeholder="Last Name" name="name">
             </div>
             </div>
            <div class="form-group col-md-12">
            <div class="controls">
             <input type="text" class="form-control" placeholder="Address" name="address">
            </div>
            </div>
            <div class="form-group col-md-12">
             <div class="controls">
               <input type="text" class="form-control" placeholder="College" name="college">
             </div>
             </div>
            <div class="form-group col-md-12">
             <div class="controls">
               <input type="email" class="form-control" placeholder="Email" name="email">
             </div>
             </div>
            <div class="form-group col-md-12">
             <div class="controls">
               <input type="email" class="form-control" placeholder="Conform Email" name="email">
             </div>
             </div>
            <div class="form-group col-md-12">
             <div class="controls">
               <input type="text" class="form-control" placeholder="UserName" name="user">
             </div>
             </div>
            <div class="form-group col-md-12">
             <div class="controls">
               <input type="password" class="form-control" placeholder="Password" name="password">
             </div>
             </div>
            <div class="form-group col-md-12">
             <div class="controls">
               <input type="password" class="form-control" placeholder="Conform Password" name="reenter password">
             </div>
             </div>
            <div class="form-group col-md-10 col-md-offset-2">
             <div class="controls">
               <label class="checkbox pull-left">
                    <input type="checkbox" value="agree">
                    I agree <a href="#">terms and conditions</a>.
                </label>
             </div>
             </div>
            <div class="form-group col-md-12">
            <div class="controls">
                    <button href="started.html" class="btn btn-primary btn-lg" type="submit">Start</a>
                </div>
             </div>
            </div>
            <div class="form-group col-md-12">
                <div class="alert alert-success">
                    <strong><span class="glyphicon glyphicon-ok"></span> Success! Message sent.</strong>
                </div>
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-remove"></span><strong> Error! Please check all page inputs.</strong>
                </div>
            </div>
        </form>

</div>

    </div>
</div>
</section>

<!--footer-->

<section id="contact">
    <div class="container text-center">
    <div class="row">

    <div class="col-lg-3"></div>
    <div class="col-md-6 wow fadeInRight">
    <div class="social-links">
    <a class="social" href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
    <a class="social" href="#" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
    <a class="social" href="#" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
    </div>
<div class="contact-info">
    <p><i class="fa fa-map-marker"></i> Pulchowk, Lalitpur, Nepal</p>
     <p><i class="fa fa-envelope"></i> hamroanswer@gmail.com</p>
     <p><i class="fa fa-phone"></i> 9860802349</p>
</div>

    <p>
       We are eager to hear from you. We’ll help student of all shapes and sizes learn faster and work smarter. 
    </p>
    
    </div>

    </div>
    </div>
    </section>

<!-- Conatct Section End-->


    <div id="copyright">
    <div class="container">
    <div class="col-md-10"><p>© 2015 All right reserved. Developed by Pluto</p></div>
    <div class="col-md-2">
        <span class="to-top pull-right"><a href="#"><i class="fa fa-angle-up fa-2x"></i></a></span>
        </div>
    </div>
    </div>
<!-- Copyright Section End-->

        <!-- Bootstrap JS -->
        <script src="assets/js/bootstrap.min.js"></script>

            <!-- Smooth Scroll -->
                    <!-- Smooth Scroll -->
        <script src="assets/js/smooth-scroll.js"></script>
        <script src="assets/js/lightbox.min.js"></script>

        <!-- All JS plugin Triggers -->
        <script src="assets/js/main.js"></script>

    </body>
    </html>
