{% extends "prepare/base_min.html" %}

{% block main_content %}
<section>
<div class="row"> 
    <div class="col-md-3"></div>
    <div class="col-md-6" style="background:#ccc;border-radius:5px;padding:20px;">
        <form enctype="multipart/form-data" method="post" action="{% url 'upload' %}">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="upload"/>
        </form>
        <br>
        Or you might want to delete some sets. 
        <a href="{% url 'delete' %}">Delete sets</a>
    </div>

    <div class="col-md-3"></div>
</div>
</div>
</section>

{% endblock %}
